body {
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 0 !important;
    font-family: 'Roboto', sans-serif;
}

header img {
    width: 100%;
    height: 100%;
}

.bg-black {
    background-color: #000000;
}

footer a {
    color: #ffffff;
}

footer i {
    color: #ffffff;
}

.popover {
    background-color: #ffffff99;
    font-weight: bold;
}

.popover-body {
    color: #534f0a;
}


/*sombra navbar*/

nav a {
    text-shadow: 0px 1px #00000090;
}


/* cambio de color tooltip*/

.tooltip-inner {
    background-color: #17a2b8;
}